@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-clr: #1B262C ;
    --secondary-clr: #24353E ;
    --darkslategray-clr : #3A5E72 ;
    --lightslategray-clr: #5C93B1 ;
    --lightskyblue-clr : #78CFFF ;
    --gainsboro-clr : #dddddd ;
}
body{
    font-family: "Poppins", serif;
    background-color: var(--primary-clr);
}
.container{
    margin: 0 auto;
    padding: 0 12px;
}
header nav ul li>a.active{
    color: #ffffff;
}
@media (max-width:1023px) {
    header nav ul.active{
        position:absolute;
        top: 70px;
        right: 10px;
        z-index: 9;
        max-width: 250px;
        width: 100%;
        padding: 20px;
        border-radius: 6px;
        text-align: center;
        background-color: var(--darkslategray-clr);
    }
    header nav ul li a{
        display: block;
        margin: 14px 0;
    }
}